%script{type: "text/javascript"}
  mixpanel.track("Apps");
%h2
  Apps

%h3
  Built with APIfy

%br

%p.apps_text
  The following apps are built with APIfy.

%p.apps_text
  If you're making apps using APIfy or have app ideas, please send a link using the feedback widget.

%br

.row
  %ul.thumbnails
    %li.span4.app
      = partial "apps/_randomsub"
    %li.span4.app
      = partial "apps/_breakingbad"
    %li.span4.app
      = partial "apps/_thirukural"
.row
  %ul.thumbnails
    %li.span4.app
      = partial "apps/_imdb"
    %li.span4.app
      = partial "apps/_chess"
    %li.span4.app
      = partial "apps/_datamapper"
.row
  %ul.thumbnails
    %li.span4.app
      = partial "apps/_datavizard"
    %li.span4.app
      = partial "apps/_rubik"
    %li.span4.app
      = partial "apps/_transit"
.row
  %ul.thumbnails
    %li.span4.app
      = partial "apps/_rpsls"