%script{type: "text/javascript"}
  mixpanel.track("Apps");
%h2
  Apps

%h3
  Built with APIfy

%p
  The following apps are built using APIfy as backend.

%p
  If you want your App listed here or have App ideas, please send a link using the feedback widget on the right.

%br

.row
  %ul.thumbnails
    %li.span4.app
      = partial "apps/_randomsub"
    %li.span4.app
      = partial "apps/_breakingbad"
    %li.span4.app
      = partial "apps/_thirukural"
.row
  %ul.thumbnails
    %li.span4.app
      = partial "apps/_rpsls"
    %li.span4.app
      = partial "apps/_transit"
    %li.span4.app
      = partial "apps/_datamapper"
.row
  %ul.thumbnails
    %li.span4.app
      = partial "apps/_datavizard"
    %li.span4.app
      = partial "apps/_rubik"