- model_name = model.class.name.underscore
- input_size = defined?(size) ? size : 'medium'
- input_label = defined?(label) ? label : attribute.capitalize
- read_only = defined?(read_only) ? read_only : false
.control-group{class: ('error' if model.errors.get(attribute))}
  %label{for: "#{model_name}_#{attribute}", class: 'control-label'}
    = input_label
  .controls
    - unless read_only
      %input{id: "#{model_name}_#{attribute}", name: "#{model_name}[#{attribute}]", value: model.send(attribute), type: 'text', class: "input-#{input_size}", placeholder: (placeholder rescue nil)}
      =# partial help_button, locals: {disabled: true} if defined?(help_button)  
      %span{class: 'help-inline'}
        = model.errors.get(attribute).try(:first)
    - else
      &= model.send(attribute)

