%script{type: 'text/javascript'}
  mixpanel.track("ListAPIs")
= partial '_tweet', template_engine: :erb
%h2 Apify APIs
%h6
  APIfy converts data in any site to JSON APIs.
  %br
  To get started check out an
  %a{href: '/resources/4fc2a166ae684d0001000004'}
    API
  or
  %a{href: '/tutorial/create'}
    tutorial
  to create your own APIs
.content.span6
  .resource_listing
    - @resources.each do |resource|
      .resource_row
        %h4
          %a{href: "/resources/#{resource.id}"}
            = resource.name
          %span.resource_actions
            %a.btn.btn-mini.edit_api_btn{href: "/resources/#{resource.id}/edit"}
              %i.icon-edit
              Edit
            %a.btn.btn-mini.btn-info.edit_api_btn{href: "/resources/#{resource.id}"}
              %i.icon-ok
              Test
          .clear
        %dl.dl-horizontal
          %dt Description
          %dd
            = resource.description || "-"
          %dt API
          %dd
            - url = "/api/#{resource.api_path}.json"
            %a{href: url}
              = url