%script{type: 'text/javascript'}
  mixpanel.track("TestAPI");
%h2
  = "#{@resource.name} API"
  %a.btn.btn-mini.edit_api_btn{href: "/resources/#{@resource.id}/edit"}
    %i.icon-edit
    Edit
%input#help{type: :hidden, value: '.help-use,.help-test'}
.row
  .span6
    %dl.dl-horizontal
      .section
        %dt Description
        %dd
          = @resource.description || @resource.name
      .section
        %dt HTML URL
        %dd
          = @resource.html
      .section
        %dt Index API
        %dd
          .api_url
            %a{href: "/api/#{@resource.api_path}.json", target: '_blank'}
              \/api/#{@resource.api_path}.json
          .well#index_json_output
            Test API JSON output here
          .api_test
            %button.btn.btn-info#test_index_api{"data-url" => "/api/#{@resource.api_path}.json"} Test API
      .section
        %dt Show API
        %dd
          .api_url
            %span.api_path
              = "/api/#{@resource.api_path}/"
              %input.input-small#show_api_id
              = ".json"
          .well#show_json_output
            Test API JSON output here
          .api_test
            %button.btn.btn-info#test_show_api{"data-url" => "/api/#{@resource.api_path}/:id.json"} Test API