<!DOCTYPE HTML>
%html
  %head
    %title= 'APIfy'
    %link{rel: 'stylesheet', type: "text/css", href: '/stylesheets/bootstrap.min.css'}
    %link{rel: 'stylesheet', type: "text/css", href: '/stylesheets/bootstrap-responsive.min.css'}
    %link{rel: 'stylesheet', type: "text/css", href: '/stylesheets/styles.css'}
    %link{rel: 'stylesheet', type: "text/css", href: 'http://google-code-prettify.googlecode.com/svn/trunk/src/prettify.css'}
    = partial '_mixpanel_script', template_engine: :erb
  %body
    .container-fluid
      .span12
        = partial '_navbar'
        .row
          .span8#app-content
            = yield
          .span3
            = partial 'help/_help'
    %script{type: 'text/javascript', src: '/javascripts/jquery.min.js'}
    %script{type: 'text/javascript', src: '/javascripts/bootstrap.min.js'}
    %script{type: 'text/javascript', src: '/javascripts/spin.min.js'}
    %script{type: 'text/javascript', src: '/javascripts/prettify.js'}
    %script{type: 'text/javascript', src: '/application.js'}
    %script{type: 'text/javascript', src: '/javascripts/app.js'}
    = partial '_tweet_script', template_engine: :erb
    = partial '_webengage_widget', template_engine: :erb