<!DOCTYPE HTML>
%html
  %head
    %title= 'APIfy'
    %link{rel: 'stylesheet', type: "text/css", href: '/stylesheets/bootstrap.min.css'}
    %link{rel: 'stylesheet', type: "text/css", href: '/stylesheets/bootstrap-responsive.min.css'}
    %link{rel: 'stylesheet', type: "text/css", href: '/stylesheets/styles.css'}
    %link{rel: 'stylesheet', type: "text/css", href: 'http://google-code-prettify.googlecode.com/svn/trunk/src/prettify.css'}
    = partial '_mixpanel_script', template_engine: :erb
  %body
    .container-fluid
      .span12
        = partial '_navbar'
        .row
          .span8#app-content
            = yield
          .span3
            = partial 'help/_help'
    %script{type: 'text/javascript', src: '/javascripts/jquery.min.js'}
    %script{type: 'text/javascript', src: '/javascripts/bootstrap.min.js'}
    %script{type: 'text/javascript', src: '/javascripts/spin.min.js'}
    %script{type: 'text/javascript', src: '/javascripts/prettify.js'}
    %script{type: 'text/javascript', src: '/javascripts/selector-finder.js'}
    %script{type: 'text/javascript', src: '/javascripts/selector-logger.js'}
    %script{type: 'text/javascript', src: '/application.js'}
    %script{type: 'text/javascript', src: '/javascripts/app.js'}
    = partial '_tweet_script', template_engine: :erb
    = partial '_webengage_widget', template_engine: :erb
    %footer
      .container
        %hr
          &nbsp;
        %small
          Made by
          %a{href: "http://www.twitter.com/sathish316", target: '_blank'}
            @sathish316
          using
          %a{href: "https://github.com/sathish316/scrapify", target: '_blank'}
            scrapify
        %small.right
          Powered by
          %a{href: "https://mixpanel.com/f/partner"}
            %img{src: "https://mixpanel.com/site_media/images/partner/badge_blue.png", alt: "Mobile and Web Analytics", width: '85px', height: '27px'}
