= partial 'help/_help_intro'
= partial 'help/_help_create_modify'
= partial 'help/_help_use_test'
.modal.fade#css-modal
  = partial 'cheatsheets/css'
.modal.fade#xpath-modal
  = partial 'cheatsheets/xpath'
